
.container {
    width: 500px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 10px;
    background-color: #b3f6de;
    color: #5ec7e8;
}

.header__title {
    width: 300px;
    margin: 0 auto;
    color: black;
    border-bottom: 2px solid #0646c7;
}

.chat__list__input {
    background: #c3ea88;
    padding: 5px 15px 5px 15px;
}
